/* src/app/home/home.component.css */

#users {
    list-style: none;
    width: 50%;
    margin: 0.5rem;
    padding: 0.2rem;
    display: flex;
    gap: 0.9rem;
    overflow: auto;
  }
  p {
    margin: 0.5rem;
    padding: 0.2rem;
  }

  h2 {
    color: #0C4762;
    margin: 0.5rem;
    padding: 0.2rem;
  }
  
  #fallback {
    font-weight: bold;
    font-size: 1.15rem;
    margin: 0;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    #users {
      flex-direction: column;
    }
  
    #fallback {
      font-size: 1.5rem;
      text-align: left;
    }
  }
  